<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline" style="display:inline;">
    @Html.AntiForgeryToken()
    <button type="submit" class="nav-link btn btn-link text-dark" style="cursor:pointer; padding:0;">
        Cerrar sesión <i class="fa fa-sign-out"></i>
    </button>
</form>