@{
    ViewData["Title"] = "Home Page";
}

<!-- about sectuion start -->
<div id="nosotros" class="about_section layout_padding">
    <div class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img"><img src="images/about-img.png"></div>
                </div>
                <div class="col-md-6">
                    <h1 class="about_taital">Sobre la Heladería</h1>
                    <p class="about_text">Somos una heladería dedicada a ofrecer los mejores sabores artesanales, elaborados con ingredientes frescos y de alta calidad. Nuestro compromiso es brindar una experiencia única y refrescante para toda la familia. Ven y disfruta de nuestros helados, postres y bebidas en un ambiente acogedor y familiar.</p>
                    <div class="read_bt_1"><a href="#">Leer Más</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about sectuion end -->

<!-- cream sectuion start -->
<div id="sabores" class="cream_section layout_padding">
    <div class="cream_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="cream_taital">Nuestros Helados</h1>
                    <p class="cream_text">Disfruta de nuestros sabores más populares y deliciosos</p>
                </div>
            </div>
            <div class="cream_section_2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-1.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-2.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-1.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cream_section_2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-3.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-4.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cream_box">
                            <div class="cream_img"><img src="images/img-5.png"></div>
                            <div class="price_text">Bs.10</div>
                            <h6 class="strawberry_text">Helado de Frutilla</h6>
                            <div class="cart_bt"><a href="#">Agregar al carrito</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a href="#">Ver Más</a></div>
        </div>
    </div>
</div>
<!-- cream sectuion end -->

<!-- services section start -->
<div id="servicios" class="services_section layout_padding">
    <div class="services_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="services_taital">Nuestros Servicios</h1>
                    <p class="services_text">Disfruta de los mejores sabores y experiencias en nuestra heladería</p>
                </div>
            </div>
            <div class="services_section_2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="services_box">
                            <h5 class="tasty_text"><span class="icon_img"><img src="images/icon-1.png"></span>Helado de Galleta</h5>
                            <p class="lorem_text">Prueba nuestro delicioso helado de galleta, preparado con ingredientes frescos y de calidad. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services_box">
                            <h5 class="tasty_text"><span class="icon_img"><img src="images/icon-2.png"></span>Helado Artesanal</h5>
                            <p class="lorem_text">Ofrecemos helados artesanales con una gran variedad de sabores para todos los gustos. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="services_box">
                            <h5 class="tasty_text"><span class="icon_img"><img src="images/icon-1.png"></span>Postres Helados</h5>
                            <p class="lorem_text">Disfruta de nuestros postres helados, perfectos para cualquier ocasión especial </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seemore_bt"><a href="#">Ver Más</a></div>
        </div>
    </div>
</div>
<!-- services section end -->

<!-- testimonial section start -->

    <div class="testimonial_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="testimonial_taital">Testimonios</h1>
                </div>
            </div>
            <div class="testimonial_section_2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="testimonial_box">
                            <div id="main_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <p class="testimonial_text">¡Los helados aquí son deliciosos! Siempre encuentro nuevos sabores y la atención es excelente. Recomiendo la heladería a todos mis amigos.</p>
                                        <h4 class="client_name">María Fernández</h4>
                                        <div class="client_img"><img src="images/client-img.png"></div>
                                    </div>
                                    <div class="carousel-item">
                                        <p class="testimonial_text">¡Los helados aquí son deliciosos! Siempre encuentro nuevos sabores y la atención es excelente. Recomiendo la heladería a todos mis amigos.</p>
                                        <h4 class="client_name">María Fernández</h4>
                                        <div class="client_img"><img src="images/client-img.png"></div>
                                    </div>
                                    <div class="carousel-item">
                                        <p class="testimonial_text">¡Los helados aquí son deliciosos! Siempre encuentro nuevos sabores y la atención es excelente. Recomiendo la heladería a todos mis amigos.</p>
                                        <h4 class="client_name">María Fernández</h4>
                                        <div class="client_img"><img src="images/client-img.png"></div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- testimonial section end -->

<!-- contact section start -->
<div id="contacto" class="contact_section layout_padding">
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact_main">
                        <h1 class="contact_taital">Contáctanos</h1>
                        <form action="/action_page.php">
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="NOMBRE" name="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="CORREO ELECTRÓNICO" name="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="email-bt" placeholder="TELÉFONO" name="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="massage-bt" placeholder="MENSAJE" rows="5" id="comment" name="Massage"></textarea>
                            </div>
                        </form>
                        <div class="main_bt"><a href="#">ENVIAR</a></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="location_text">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="padding_left_10 active"><i class="fa fa-map-marker" aria-hidden="true"></i></span>Calle Principal #123, Heladería Delicia
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="padding_left_10"><i class="fa fa-phone" aria-hidden="true"></i></span>Teléfono: +591 12345678
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="padding_left_10"><i class="fa fa-envelope" aria-hidden="true"></i></span> Email: contacto@heladeriadelicia.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mail_main">
                        <h3 class="newsletter_text">Boletín de novedades</h3>
                        <div class="form-group">
                            <textarea class="update_mail" placeholder="INGRESA TU CORREO ELECTRÓNICO" rows="5" id="comment" name="Enter Your Email"></textarea>
                            <div class="subscribe_bt"><a href="#">Suscribirse</a></div>
                        </div>
                    </div>
                    <div class="footer_social_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
